rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /customers/{docId} {
      allow read, write: if true;
    }

    match /materials/{docId} {
      allow read, write: if true;
    }

    match /transactions/{docId} {
      allow read, write: if true;
    }
  }
}
